[submodule "scripts/automation/trex_control_plane/interactive/trex/attenuators"]
	path = scripts/automation/trex_control_plane/interactive/trex/attenuators
	url = https://github.com/fengmushu/py-aw9523b.git
[submodule "scripts/external_libs/witty"]
	path = scripts/external_libs/witty
	url = git@github.com:fengmushu/witty.git
